@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

$font-PoetSen: 'Pacifico', sans-serif;
$font-NunitoSan: 'Nunito Sans', sans-serif;
$color-black: #000000f2;
$color-white: #fff;
$color-yellow: rgb(228, 216, 4);
.font-pertSen {
  font-family: $font-PoetSen !important;
}
body {
  font-family: $font-NunitoSan !important;
  background-color: #000000f2;
  color: white;
  &.no-scroll {
    overflow-y: hidden;
  }
}
a {
  color: white;
}

::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #52525b;
}

::-webkit-scrollbar-thumb {
  background: $color-yellow;
  border-radius: 3px;
}
.flex-basis {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alpha-blur {
  &::before {
    z-index: 31;
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 90%);
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    filter: blur(3.3rem);
    border-radius: 30% 70% 20% 30% / 21% 30% 92% 79%;
    z-index: 19;
  }
}
.banner {
  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      content: '';
      width: 27px;
      height: 27px;
      border: 3.5px solid transparent;
      border-top-color: $color-white;
      border-right-color: $color-white;
      border-radius: 4px 2px 4px 0;
      transform: rotate(-136deg);
      opacity: 1;
      z-index: 100;
    }
  }
  .swiper-button-next {
    &::after {
      transform: rotate(45deg);
    }
  }
}
